a {
    text-decoration: none;
}

/* header */
.Home-header {
    background-color: #000000;
    color: white;
}

.Home-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}

.Home-header__logo__img {
    margin: 5px 0 5px 10px;
    height: 80px;
}

.Home-header__right {
    display: flex;
}

.Home-header__Phone {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.Home-header__Phone-img {
    width: 30px;
}

.Home-header__Phone_right {
    margin-left: 10px;
}

.Home-header__Phone_Number {
    font-size: 25px;
}

.Home-header__Phone_Title {
    font-size: 16px;
}

.Home-header__Facebook {
    display: flex;
    margin-right: 30px;
    align-items: flex-end;
}

.Home-header__Facebook_Span {
    font-size: 40px;
    color: #FFBB00;
}

/* header 2 */
.Home-header-2 {
    background-color: #101711;
}

.Home-header-2__container {
    display: flex;
}

.Home-header-2__btn {
    color: white;
    font-size: 16px;
    margin: 15px 50px 15px 0;
}

.Home-header-2__btn:hover {
    color: #FFBB00;
}

.Home-header-2__btn_Home {
    margin-left: 50px;
}

/* Homee Body */
/* Body 1 */
.body1-container {
    position: relative;
    text-align: center;
    color: white;
  }
.body1-img{
    width: 100%;
}

.centered {
    color: #FFBB00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* Line */
.Home-Body__Line {
    background-color: #1B2835;
    height: 50px;
}

/* Body 2 */
.Home-body__2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500;
}

.Home-body__2-Title {
    margin: 50px 0 20px 0;
    display: flex;
    justify-content: center;
}

.Home-body__2-Title__chir {
    font-size: 35px;
    font-weight: 900;
    color: #FFBB00;
}

/*Body 2 Card*/
.Home-body__2_AllCard {
    display: flex;
    justify-content: center;
}

.Home-body__2_AllCard_container {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    flex-wrap: wrap;
}

.Home-Body-card-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    margin: 20px 20px 20px 20px;
}

.Home-Body-card-2__Icon {
    background-color: #000000;
    display: flex;
    height: 130px;
}

.Home-Body-card-2__Icon_Img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.Home-Body-card-2__Container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #0F1515;
    color: white;
    height: 180px;
}

.Home-Body-card-2__Container_content {
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
}

.Home-Body-card-2__Container_btn {
    color: #FFBB00;
    border: 1px solid #FFBB00;
    padding: 10px 0 10px 0;
    font-weight: 500;
    display: inline-block;
    background-color: Transparent;
    background-repeat: no-repeat;
    margin: 0 30px 30px 30px;
}

.Home-Body-card-2__Container_btn:hover {
    background-color: #FFBB00;
    color: white;
}

/* Body 3 */
.Home-Body-3 {
    background-color: #1B2835;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Home-body__3-Title__chir {
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    color: #FFBB00;
    font-weight: 500;
}

.Home-body__3_AllCard {
    display: flex;
    justify-content: center;
}

.Home-body__3_AllCard_container {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    flex-wrap: wrap;
}

.Home-Body-card-3 {
    width: 450px;
    height: 600px;
    background-color: #232F3E;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.Home-Body-card-3:hover {
    transition: transform .2s;
    transform: scale(1.05);
}

.Home-Body-card-3_Img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Home-Body-card-3_Img_CT {
    width: 400px;
    height: 450px;
}

.Home-Body-card-3_Title {
    margin-top: 20px;
    text-align: center;
}

.Home-Body-card-3_Title-1 {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.Home-Body-card-3_Title-2 {
    margin-top: 5px;
    color: #0094FF;
}

/* Body 4 */
.Home-Body-4 {
    background-color: #1B2835;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Home-body__4-Title__chir-1 {
    text-align: center;
    margin-top: 100px;
    font-size: 28px;
    color: #FFBB00;
    font-weight: 500;
}

.Home-body__4-Title__chir-2 {
    margin-top: 5px;
    text-align: center;
    font-weight: 500;
}

.Home-body__4_AllCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-body__4_AllCard-btn {
    width: 70px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
}

.Home-body__4_AllCard-btn-l {
    margin-right: 20px;
}

.Home-body__4_AllCard-btn-r {
    margin-left: 20px;
}

.Home-body__4_AllCard_container {
    display: flex;
    overflow-x: auto;
    max-width: 1500px;
}

.Home-body__4_AllCard_container::-webkit-scrollbar {
    display: none;
}

.Home-Body-card-4 {
    min-width: 300px;
    height: 450px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 25px;
    margin-left: 25px;
}

.Home-Body-card-4_Img_CT {
    width: 300px;
    height: 200px;
}

.Home-Body-card-4_Title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Home-Body-card-4_Title-1 {
    text-align: center;
    margin: 5px;
    font-weight: 700;
    font-size: 25px;
}

.Home-Body-card-4_Title-2 {
    margin-top: 10px;
    height: 100px;
    width: 295px;
    text-align: center;
}

.Home-Body-card-4_btn {
    display: flex;
    justify-content: center;
    color: #FFBB00;
    border: none;
    font-weight: 500;
    background-color: Transparent;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
}

.Home-Body-card-4_btn_Icon {
    width: 25px;
    margin-left: 5px;
}

.Home-Body-card-4_btn:hover {
    background-color: #FFBB00;
    color: white;
}

/*Body 5*/
.Home-body__5-Title {
    text-align: center;
    margin-top: 100px;
    font-size: 28px;
    color: #FFBB00;
    font-weight: 500;
}

.Home-body__5-Main {
    margin-top: 50px;
    display: flex;
}

.Home-body__5-Main-left {
    width: 50%;
    background-color: #1B2835;
}

.Home-body__5-Main-right {
    width: 50%;
    background-color: #202B47;
}

.Home-body__5-Title_Chi {
    color: white;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

.Home-body__5-Title_Content {
    color: white;
    margin: 50px 50px;
}

.Home-body__5-Main_font {
    display: flex;
    justify-content: center;
    color: white;
}

.Home-body__5-Main_font-Main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Home-body__5-Main_font-Main2 {
    display: flex;
    justify-content: space-between;
}

.Home-body__5-font-lable {
    margin-top: 50px;
    margin-bottom: 5px;
}

.Home-body__5-Main_font-Main2_chi {
    display: flex;
    flex-direction: column;
}

.Home-body__5-font_btn {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: #FFBB00 solid 1px;
    padding: 10px 0;
    color: #FFBB00;
}

.Home-body__5-font_btn:hover {
    background-color: #FFBB00;
    color: white;
}

.Home-body__5-Main_font-input {
    min-height: 30px;
    min-width: 200px;
}

.Home-body__5-Main_font-textarea {
    min-width: 600px;
    min-height: 300px;
}

/*Body 6*/
.Home-body__6-Title {
    text-align: center;
    padding-top: 50px;
    font-size: 28px;
    color: #FFBB00;
    font-weight: 500;
}

.Home-body__6-Main {
    margin-top: 100px;
    width: 100%;
    background-color: #1F2839;
}

.Home-body__6-table-qre {
    padding: 5px 50px;
}

/*Body 7*/
.Home-body-7-Allcard {
    display: flex;
    justify-content: center;
    margin: 20px 100px 200px 100px;
}

.Home-body__5_AllCard_container {
    display: flex;
    overflow-x: auto;
    max-width: 1500px;
}

.Home-body__5_AllCard_container::-webkit-scrollbar {
    display: none;
}

.Home-body-7-card {
    margin-left: 50px;
    background-color: #232F3E;
    display: flex;
}

.Home-body-7-card:hover {
    transition: transform .2s;
    transform: scale(1.05);
}

.Home-body-7-card-img {
    width: 200px;
    height: 200px;
}

.Home-body-7-infor {
    padding: 20px 20px 0px 20px;
    color: white;
    width: 300px;
}

/*bottom*/
.Home_bottom-1 {
    /* margin-top: 100px; */
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #1F2839;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
}

.Home_bottom-1-logo {
    width: 200px;
    height: 150px;
}

.Home_bottom-1-info {
    min-width: 1000px;
}

.Home_bottom-1-info-1 {
    text-align: center;
}

.Home_bottom-1-info-img {
    width: 25px;
    margin-right: 5px;
}

.Home_bottom-1-info-2-3 {
    display: flex;
    justify-content: space-between;
}

.Home_bottom-1-info-5 {
    text-align: center;
}

.Home_bottom-2 {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
    background-color: #192336;
    color: white;
}

.Home_bottom-2_text {
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 1800px) {

    /* Body 4 */
    .Home-body__4_AllCard_container {
        display: flex;
        overflow-x: auto;
        max-width: 1000px;
    }

    /* Body 7 */
    .Home-body__5_AllCard_container {
        display: flex;
        overflow-x: auto;
        max-width: 1000px;
    }
}

@media screen and (max-width: 1200px) {

    /* Body 4 */
    .Home-body__4_AllCard_container {
        display: flex;
        overflow-x: auto;
        max-width: 800px;
    }

    /*Body 5*/
    .Home-body__5-Main_font-input {
        width: 300px;
    }

    .Home-body__5-Main_font-Main2 {
        flex-direction: column;
    }

    .Home-body__5-Main_font-textarea {
        min-width: 300px;
        min-height: 300px;
    }

    /* Body 7 */
    .Home-body__5_AllCard_container {
        display: flex;
        overflow-x: auto;
        max-width: 800px;
    }

    /*day web*/

    .Home_bottom-1-logo {
        width: 200px;
        height: 150px;
    }

    .Home_bottom-1-info {
        padding-left: 20px;
        min-width: 400px;
    }

    .Home_bottom-1-info-2-3 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .Home_bottom-1-info-4 {
        text-align: center;
    }

    .Home_bottom-1-info-5 {
        text-align: center;
    }
}



@media screen and (max-width: 600px) {

    /* Body 4 */
    .Home-body__4_AllCard_container {
        display: flex;
        overflow-x: auto;
        max-width: 400px;
    }

    /*Body 5*/
    .Home-body__5-Main_font-input {
        width: 100px;
    }

    .Home-body__5-Main_font-Main2 {
        flex-direction: column;
    }

    .Home-body__5-Main_font-textarea {
        min-width: 100px;
        min-height: 300px;
    }

    /* Body 7 */
    .Home-body__5_AllCard_container {
        display: flex;
        overflow-x: auto;
        max-width: 400px;
    }

    /*day web*/
    .Home_bottom-1 {
        padding-top: 50px;
        padding-bottom: 30px;
        background-color: #1F2839;
        width: 100%;
        display: flex;
        justify-content: none;
        flex-direction: column;
        color: white;
    }

    .Home_bottom-1-logo {
        width: 200px;
        height: 150px;
    }

    .Home_bottom-1-info {
        padding-left: 20px;
        min-width: 0;
    }

    .Home_bottom-1-info-2-3 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .Home_bottom-1-info-4 {
        text-align: center;
    }

    .Home_bottom-1-info-5 {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {

    /*Top*/
    .Home-header__container {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
    }

    .Home-header__right {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    .Home-header__Phone_Number {
        font-size: 18px;
    }

    .Home-header__Phone_Title {
        font-size: 18px;
    }

    /* Body 1 */
    .Home-Body__1-middle {
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #FFBB00;
    }

    .Home-Body__1-middle-h2 {
        font-size: 16px;
    }

    /*body 2*/
    .Home-header-2 {
        display: none;
    }

    /* Body 3 */
    .Home-Body-card-3 {
        width: 350px;
        height: 500px;
        background-color: #232F3E;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .Home-Body-card-3_Img_CT {
        width: 300px;
        height: 350px;
    }

    /* Body 4 */
    .Home-body__4_AllCard_container {
        display: flex;
        overflow-x: auto;
        max-width: 100px;
    }

    .Home-body__4_AllCard-btn {
        display: none;
    }

    .Home-body__4_AllCard_container {
        display: flex;
        overflow-x: auto;
        max-width: 300px;
    }

    /*Body 5*/
    .Home-body__5-Main {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .Home-body__5-Main-left {
        width: 100%;
        background-color: #1B2835;
    }

    .Home-body__5-Main-right {
        width: 100%;
        background-color: #202B47;
    }

    .Home-body__5-Main_font-textarea {
        min-width: 50px;
        min-height: 300px;
    }

    .Home-body__5-Main_font-input {
        min-height: 30px;
        min-width: 300px;
    }

    /*body 7*/
    .Home-body__5_AllCard_container {
        display: flex;
        overflow-x: auto;
        min-width: 300px;
    }

    .Home-body-7-card-img {
        width: 300px;
    }

    .Home-body-7-card {
        display: flex;
        flex-direction: column;
        min-width: 300px;
    }



    /*day web*/
    .Home_bottom-1 {
        padding-top: 50px;
        padding-bottom: 30px;
        background-color: #1F2839;
        width: 100%;
        display: flex;
        color: white;
    }

    .Home_bottom-1-logo {
        width: 200px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .Home_bottom-1-info {
        padding-top: 50px;
        min-width: 0;
    }

    .Home_bottom-1-info-2-3 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .Home_bottom-1-info-4 {
        text-align: center;
    }

    .Home_bottom-1-info-5 {
        text-align: center;
    }
}